<!doctype html>
<html lang="ch">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="description" content="AnyScan">
		<meta name="keywords" content="AnyScan">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<meta name="format-detection" content="telephone=no">
		<title>AnyScan</title>
		<script src="/static/js/jquery/jquery-3.1.1.min.js"></script>
		<script src="/static/js/bootstrap/bootstrap.js"></script>
		<link rel="stylesheet" href="/static/css/bootstrap/bootstrap.min.css">
        <link rel="stylesheet" href="/static/js/flatui/css/flat-ui.min.css">
		<link rel="stylesheet" href="/static/css/index.css">
        <link rel="stylesheet" href="/static/css/zTreeStyle/zTreeStyle.css">
        <link href="/static/css/bootstrap/bootstrap-table.min.css" rel="stylesheet"/>
        <link type="text/css" rel="stylesheet" href="/static/css/codemirror/codemirror.css"/>


        <script src="/static/js/bootstrap/bootstrap-table.min.js"></script>
        <script src="/static/js/bootstrap/bootstrap-table-zh-CN.min.js"></script>
        <script src="/static/js/index.js"></script>
        <script src="/static/js/jquery/jquery.ztree.core-3.5.js"></script>
        <script src="/static/js/jquery/jquery.ztree.excheck-3.5.js"></script>

        <script src="/static/js/codemirror/codemirror.js"></script>
        <script src="/static/js/codemirror/matchbrackets.js"></script>
        <script src="/static/js/codemirror/python.js"></script>
        <style type="text/css">.CodeMirror {border-top: 1px solid black; border-bottom: 1px solid black;}</style>
	</head>

	<body style="overflow-x: hidden; overflow-y: hidden;">
		<div class="navbar navbar-duomi navbar-static-top" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#" id="logo">AnyScan
                    </a>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-2" style="height:0px;padding-bottom:100%;">
                    <ul id="main-nav" class="nav nav-tabs nav-stacked" style="">
                        <li >
                            <a href="#" data-toggle="tab">
                                <i class="glyphicon glyphicon-th-large"></i>
                                首页
                            </a>
                        </li>
                        <li class="active">
                            <a href="#addtask" data-toggle="tab">
                                <i class="glyphicon glyphicon-credit-card"></i>
                                SQL注入
                            </a>
                        </li>
                        <li >
                            <a href="#overv" data-toggle="tab" >
                                <i class="glyphicon glyphicon-cog"></i>
                                注入任务
                            </a>
                        </li>
                        <li>
                            <a href="#port" data-toggle="tab">
                                <i class="glyphicon glyphicon-globe"></i>
                                端口扫描/爆破
                            </a>
                        </li>
                        <li>
                            <a href="#port_attack_tab" data-toggle="tab">
                                <i class="glyphicon glyphicon-globe"></i>
                                端口爆破任务
                            </a>
                        </li>
                        <li>
                            <a href="#cms_scan_tab" data-toggle="tab">
                                <i class="glyphicon glyphicon-globe"></i>
                                CMS识别
                            </a>
                        </li>
                        <li>
                            <a href="#cms_scan_list_tab" data-toggle="tab">
                                <i class="glyphicon glyphicon-globe"></i>
                                CMS识别任务
                            </a>
                        </li>
                        <li>
                            <a href="#url_poc_tab" data-toggle="tab">
                                <i class="glyphicon glyphicon-globe"></i>
                                URL采集／POC批量
                            </a>
                        </li>
                        <li>
                            <a href="#poc_exec_task_tab" data-toggle="tab">
                                <i class="glyphicon glyphicon-globe"></i>
                                POC执行任务
                            </a>
                        </li>
                    </ul>
                    <div id="toolbar" class="btn-group">
                        <button id="flush" type="button" class="btn btn-default">
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>清空
                        </button>
                    </div>
                    <div id="port_attacklist_toolbar" class="btn-group">
                        <button id="port_attacklist_refresh" type="button" class="btn btn-default">
                        <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>刷新
                        </button>
                    </div>

                </div>
                <div class="col-md-10 tab-content">
                    <div id="overv" class="tab-pane fade" >
                        <table id="overview" style="font-size: 14px;">

                        </table>
                    </div>
                    <div id="port_attack_tab" class="tab-pane fade" >
                        <table id="port_attack_table" style="font-size: 14px;">

                        </table>
                    </div>
                    <div id="poc_exec_task_tab" class="tab-pane fade" >
                        <table id="poc_exec_task_table" style="font-size: 14px;">

                        </table>
                    </div>
                    <div id="cms_scan_list_tab" class="tab-pane fade" >
                        <table id="cms_scan_table" style="font-size: 14px;">

                        </table>
                    </div>
                    <div id="addtask" class="tab-pane fade  in active">
                        <form class="form-horizontal" role="form" style="margin-top: 3%">
                            <div class="form-group">
                                <div class="col-sm-8">
                                    <input id="url" type="text" class="form-control" placeholder="sqlmap -u http://www.baidu.com --is-dba" >
                                </div>
                                <button id="bash" name="bash" type="button" class="btn btn-primary col-sm-1" style="margin-left: 10px;">绕过检测</button>
                                <button id="start" name="start" type="button" class="btn btn-success col-sm-1" style="margin-left: 10px;">常规检测</button>
                                <button id="kill" name="kill" type="button" class="btn btn-danger col-sm-1" style="margin-left: 10px;">停止检测</button>
                            </div>
                        </form>
                        <pre id="logging" style="height: 500px;">
    使用案例：sqlmap -u http://ip/view/?id=1 --is-dba
    语法格式和SQLMap一摸一样
    以下为SQLMapAPI和SQLMap的语法对应关系；左侧为SQLMap语法，右侧为SQLMapAPI语法。
    现在暂时支持以下语法。

    "-u": "url",                          -------要测试的url
    "--random-agent": "randomAgent",      -------使用随机选定的HTTPUser-Agent头
    "--users": "getUsers",                -------枚举数据库管理系统用户
    "--is-dba": "isDba",                  -------检测DBMS当前用户是否DBA
    "--tables": "getTables",              -------枚举的DBMS数据库中的表
    "--dbs": "getDbs",                    -------枚举数据库管理系统数据库
    "--columns": "getColumns",            -------枚举DBMS数据库表列
    "--level=1": "level",                 -------执行测试的等级（1-5，默认为1）
    "-tamper": "tamper",                  -------使用给定的脚本（S）篡改注入数据
    "--no-cast": "noCast",                -------进行字符码转换
    "--outtime=30": "timeout",            -------等待连接超时的时间（默认为30秒）
    "--time-sec=30": "timeSec",           -------DBMS响应的延迟时间（默认为5秒）
    "-dbms": "dbms",                      -------DBMS强制后端的DBMS为此值
    "--current-user": "getCurrentUser",   -------检索数据库管理系统当前用户
    "--current-db": "getCurrentDb",       -------检索数据库管理系统当前数据库
    "--passwords": "getPasswordHashes",   -------枚举数据库管理系统用户密码哈希
    "--union-char=": "uChar",             -------用于暴力猜解列数的字符
    "-cookie": "cookie",                  -------HTTPCookie头
    "-data": "data",                      -------通过POST发送的数据字符串
    "-threads": "threads",                -------最大的HTTP（S）请求并发量（默认为1）
    "-ddb": "db",                         -------要进行枚举的数据库名
    "-ttbl": "tbl",                       -------要进行枚举的数据库表
    "-ccol": "col",                       -------要进行枚举的数据库列
    "-uuser": "user"                      -------用来进行枚举的数据库用户

                        </pre>
                    </div>
                    <div id="cms_scan_tab" class="tab-pane fade">
                        <form class="form-horizontal" role="form" style="margin-top: 3%">
                            <div class="form-group">
                                <div class="col-sm-8">
                                    <input id="cms_url" type="text" class="form-control" placeholder="http://www.baidu.com,www.google.com" >
                                </div>
                                <input id="cms_threads" type="text" class="form-control col-sm-1" placeholder="检测线程" style="width: 80px;margin-left:5px;font-size: 12px;" >
                                <button id="cms_start" name="cms_start" type="button" class="btn btn-primary col-sm-1" style="margin-left: 10px;">CMS检测</button>
                                <button id="cms_stop" name="cms_stop" type="button" class="btn btn-danger col-sm-1" style="margin-left: 8px;">停止检测</button>
                            </div>
                        </form>
                        <pre id="cms_logging" style="height: 500px;">
                        </pre>
                    </div>
                    <div id="port" class="tab-pane fade">
                        <form class="form-horizontal" role="form" style="margin-top: 3%">
                            <div class="form-group" style="margin-left: 1px;">
                                <div class="col-sm-8">
                                    <input id="port_scan_commond" type="text" class="form-control" placeholder="nmap -p1-65535 -T4 -A -v -Pn 127.0.0.1" >
                                </div>
                                <button id="port_scan_start" name="port_scan_start" type="button" class="btn btn-danger col-sm-1" style="margin-left: 10px;">开始扫描</button>
                                <input id="port_burp_threads" type="text" class="form-control col-sm-1" placeholder="爆破线程" style="width: 50px;padding: 0px;margin: 0px;font-size: 8px;" >
                                <button id="port_burp_start" name="port_burp_start" type="button" class="btn btn-danger col-sm-1" style="margin-left: 0px;">暴力破解</button>
                                <button id="port_burp_stop" name="port_burp_stop" type="button" class="btn btn-danger col-sm-1" style="margin-left: 0px;">暂停爆破</button>
                            </div>
                        </form>
                        <div style="overflow-y:scroll;">
                            <div class="col-sm-3" style="font-family:宋体;font-size:12pt;overflow-y:scroll; height: 500px;">
                                <ul class="ztree" id="portscan_tree" name="portscan_tree"></ul>

                            </div>
                            <div class="col-sm-9">
                                <pre id="port_scan_log" style="height: 500px;">
                                    nmap -Pn -sT -p22 192.168.1.136
                                    nmap中文手册 http://www.nmap.com.cn/doc/manual.shtm
                                    注意：由于在调用nmap时port是单独参数，在使用-p参数时特别注意，
                                    格式为-p1,2,3,4或-p1-1000
                                    主机格式：192.168.1.1-102或者192.168.1.1,106或者192.168.1.0/24
                                </pre>
                            </div>
                        </div>
                    </div>
                    <div id="url_poc_tab" class="tab-pane fade" style="font-size: 14px;text-align: left">
                        <form class="form-horizontal" role="form" style="margin-top: 3%">
                            <div class="form-group" style="margin-left: 1px;">
                                <div class="col-sm-8">
                                    <input id="search_content" type="text" class="form-control" placeholder="site:*.gov.cn title:山东省" >
                                </div>
                                <button id="url_baidu" name="url_baidu" type="button" class="btn btn-danger col-sm-1" style="margin-left: 0px;">百度采集</button>
                                <button id="url_google" name="url_google" type="button" class="btn btn-primary col-sm-1" style="margin-left: 0px;">Google采集</button>
                                <button id="exec_poc" name="exec_poc" type="button" class="btn btn-danger col-sm-1" style="margin-left: 0px;">执行POC</button>
                            </div>
                        </form>
                        <div style="overflow-y:scroll;">
                            <div class="col-sm-3" style="font-family:宋体;font-size:12pt;overflow-y:scroll; height: 500px;">
                                <ul class="ztree" id="url_list_tree" name="url_list_tree"></ul>

                            </div>
                            <div class="col-sm-9">
                                <textarea id="code-python" name="code-python" style="height: 500px;">
    # -*- coding: utf-8 -*-
    # 要引入的库,这里只是举个例子。
    import urllib2
    import sys,uuid
    from poster.encode import multipart_encode
    from poster.streaminghttp import register_openers
    # 验证函数，名字可以修改，参数只有一个。
    def exploit(target):
        # 函数体
        print "主函数"
        # 漏洞是否存在，是为True，否为False
        status = True
        # 漏洞执行返回值，也就是校验漏洞的字符串
        keyword = ""
        # 返回函数执行结果
        return status,keyword
    # 接收函数执行结果，变量名不可修改，只能为status和keyword
    status,keyword = exploit(target)
                                </textarea>
                                <pre id="poc_url_log" style="height: 200px;">日志在这里</pre>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal -->
        <div class="modal fade bs-example-modal-lg" id="task_log" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h4 class="modal-title" id="myModalLabel">扫描日志</h4>
                    </div>
                    <div class="modal-body">
                        <pre id="read_logging" style="height: 500px;">
                        </pre>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade bs-example-modal-lg" id="portattackchild_dialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" style="width: 1100px;">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h4 class="modal-title" id="myModalLabel">爆破任务列表</h4>
                    </div>
                    <div class="modal-body">
                        <table id="port_attack_list" style="font-size: 14px;">

                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- Poc执行结果 -->
        <div class="modal fade bs-example-modal-lg" id="poc_chil_dialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" style="width: 1100px;">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h4 class="modal-title"  id="myModalLabel">POC执行结果</h4>
                    </div>
                    <div class="modal-body">
                        <table id="poc_chil_table" style="font-size: 14px;">

                        </table>
                    </div>
                </div>
            </div>
        </div>
	</body>

</html>