<!doctype html>
<html lang="ch">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="description" content="SQLMapUI">
		<meta name="keywords" content="SQLMapUI">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<meta name="format-detection" content="telephone=no">
		<title>SQLMapUI</title>
		<script src="/static/js/jquery/jquery-3.1.1.min.js"></script>
		<script src="/static/js/bootstrap/bootstrap.js"></script>
		<script>
			$(function() {
				
			})
		</script>
		<link rel="stylesheet" href="/static/css/bootstrap/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="/static/css/common.css" />
		<link rel="stylesheet" type="text/css" href="/static/js/flatui/css/flat-ui.min.css" />
	</head>

	<body>
		<div id="wrap">
			<!-- 左侧菜单栏目块 -->
			<div class="leftMeun" id="leftMeun">
				<div id="logoDiv">
					<p id="logoP"><img id="logo" alt="" src="images/logo.png"><span>SQLMapUI</span></p>
				</div>
				<div id="personInfor">
					<p id="userName">margin</p>
					<p><span>18363017058@163.com</span></p>
					<p>
						<a>退出登录</a>
					</p>
				</div>
				<div class="meun-title">扫描任务</div>
				<div class="meun-item meun-item-active" href="#sour" aria-controls="sour" role="tab" data-toggle="tab">
                    <img src="/static/images/icon_source.png">添加任务</div>
			</div>
			<!-- 右侧具体内容栏目 -->
			<div id="rightContent">
				<a class="toggle-btn" id="nimei">
					<i class="glyphicon glyphicon-align-justify"></i>
				</a>
				<!-- Tab panes -->
				<div class="tab-content">
					<!-- 资源管理模块 -->
					<div role="tabpanel" class="tab-pane active" id="sour">
						<div class="check-div form-inline">
							<button class="btn btn-yellow btn-xs" data-toggle="modal" data-target="#addSource">添加资源</button>
						</div>
						<div class="data-div">
							<div class="row tableHeader">
								<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 ">
									编码
								</div>
								<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
									名称
								</div>
								<div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
									链接
								</div>
								<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
									操作
								</div>
							</div>
							<div class="tablebody">
								<div class="row">
									<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
										1
									</div>
									<div id="topAD" class="col-lg-4 col-md-4 col-sm-4 col-xs-4" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSystem" aria-expanded="true" aria-controls="collapseOne">
										<span id="topA" class="glyphicon  glyphicon-triangle-bottom  "></span> <span>系统管理</span>
									</div>
									<div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
										/admin/system/userlist/software/
									</div>
									<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
										<button class="btn btn-success btn-xs" data-toggle="modal" data-target="#changeSource">修改</button>
										<button class="btn btn-danger btn-xs" data-toggle="modal" data-target="#deleteSource">删除</button>
									</div>
								</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
		</div>
	</body>

</html>